In [1]:
## Q1. Create one variable containing following type of data:
## (i) string
## (ii) list
## (iii) float
## (iv) tuple

In [4]:
## 1(i)
string = "Hello, this is a Ambesh."

In [5]:
##1(i)
list = [1, 2, 3, 4, 5]

In [6]:
## 1(iii)
float = 3.14

In [7]:
## 1(iv)
tuple = (10, 20, 30, 40, 50)

In [8]:
##  Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.
##   What will be the data type of the above given variable.

In [9]:
## (i) var1 = ' ': This is a string and its data type is str.

## (ii) var2 = '[ DS , ML , Python]': This is also a string  and its data type is str.

## (iii) var3 = ['DS', 'ML', 'Python']: This is a list and its data type is list.

## (iv) var4 = 1.0: This is a float and its data type is float.

##   The data types of the variables are str, str, list, and float.

In [10]:
## Q3. Explain the use of the following operators using an example:
## (i) /
## (ii) %
## (iii) //
## (iv) **

In [13]:
## (i) / = Division Operator
result = 10 / 3
print(result)

3.3333333333333335

In [14]:
## (ii) % = Modulus Operator
remainder = 10 % 3
print(remainder)

1

In [15]:
## (iii) // = Floor Division Operator
result = 10 // 3
print(result)

3

In [16]:
## (iv) ** = Exponentiation Operator
result = 2 ** 3
print(result)

8

In [17]:
## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
##     element and its data type.

In [20]:
my_list = [1, 3.14, "PW", [1, 2, 3], {"name": "shiv", "age": 22}, True, None, (5, 6), 8.8, "World"]
for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 1, Data Type: <class 'int'>
Element: 3.14, Data Type: <class 'float'>
Element: PW, Data Type: <class 'str'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'shiv', 'age': 22}, Data Type: <class 'dict'>
Element: True, Data Type: <class 'bool'>
Element: None, Data Type: <class 'NoneType'>
Element: (5, 6), Data Type: <class 'tuple'>
Element: 8.8, Data Type: <class 'float'>
Element: World, Data Type: <class 'str'>

In [21]:
## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
##     times it can be divisible.

In [22]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{A} is purely divisible by {B} {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  10
Enter number B:  5

2.0 is purely divisible by 5 1 times.

In [23]:
## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
## divisible by 3 or not.

In [24]:
list = [15, 6, 9, 8, 12, 18, 7, 11, 21, 30, 5, 33, 42, 13, 22, 24, 3, 19, 27, 36, 17, 14, 25, 10, 31]

for num in list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

15 is divisible by 3.
6 is divisible by 3.
9 is divisible by 3.
8 is not divisible by 3.
12 is divisible by 3.
18 is divisible by 3.
7 is not divisible by 3.
11 is not divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
5 is not divisible by 3.
33 is divisible by 3.
42 is divisible by 3.
13 is not divisible by 3.
22 is not divisible by 3.
24 is divisible by 3.
3 is divisible by 3.
19 is not divisible by 3.
27 is divisible by 3.
36 is divisible by 3.
17 is not divisible by 3.
14 is not divisible by 3.
25 is not divisible by 3.
10 is not divisible by 3.
31 is not divisible by 3.

In [25]:
## Q7. What do you understand about mutable and immutable data types? Give examples for both showing
## this property.

In [26]:
##     Mutable data types can be modified after they are created.
##     Immutable data types cannot be changed after they are created. Any operation that seems to modify an immutable object 
##     actually creates a new object.

In [41]:
 l = [1, 2, 3]
    ## Mutable

In [40]:
l.append(4)
print(l)

[1, 2, 3, 4]

In [42]:
s = "Hello"
## Immutable

In [43]:
s2= s+"Bro"
print(s2)

HelloBro